[Unit]
Description=Setup TAP Network Interface
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/sbin/ip tuntap add dev tap0 mode tap && /sbin/ip link set tap0 up && /sbin/ip addr add 192.168.22.1/24 dev tap0'
RemainAfterExit=yes
CapabilityBoundingSet=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
