[Unit]
Description=Setup TAP Network Interface
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-host-tap.sh
RemainAfterExit=yes
CapabilityBoundingSet=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
